@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: linear-gradient(45deg, #d7d1d1, #b0a4a4);
}

.calculator{
    border: 1px solid #092b6e;
    padding: 20px;
    border-radius: 0px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width: 330px;
    border: normal;
    padding: 15px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1); 
    font-size: 40px;
    text-align: right;
    cursor: cell;
    color: #8f4747;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: 1px solid black; 
    width: 60px;
    height: 60px;
    margin: 10px;
    background: transparent;
    color: #bb6464;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: #685443;
}

.operator{
    color: #4e5e41;
}
